.container {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}
.left, .right {
    flex-grow: 1;
    flex-basis: 300px;
}
.left {
    background-color: yellow;
}
.right {
    background-color: red;
}